<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panshare.manager.mapper.TagsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.panshare.manager.pojo.Tags">
        <id column="tag_id" property="tagId" />
        <result column="tag_name" property="tagName" />
        <result column="tag_color" property="tagColor" />
        <result column="tag_icon" property="tagIcon" />
        <result column="tag_delete" property="tagDelete" />
        <result column="tag_create_time" property="tagCreateTime" />
        <result column="tag_is_public" property="tagIsPublic" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        tag_id, tag_name, tag_color, tag_icon, tag_delete, tag_create_time, tag_is_public
    </sql>

</mapper>
